.footer {
  background-color: #f8f9fa;
  padding: 10px;
  border-top: 1px solid #e7e7e7;
  font-family: sans-serif;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1400px;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 20px;
}

.footer-logos {
  display: flex;
  align-items: center;
  gap: 20px;
  justify-content: center;
  flex-wrap: wrap;

}

.footer-logo {
  height: 60px;
}

.footer-license a {
  color: #333;
  text-decoration: none;
  font-size: 18px;
}

.footer-license a:hover {
  text-decoration: underline;
}

/* Responsive styles */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    gap: 15px;
  }

  .footer-logos {
    gap: 15px;
  }

  .footer-logo {
    height: 40px;
  }

  .footer-license a {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .footer-logos {
    flex-direction: column;
    /* Stack logos vertically on very small screens */
  }
}